.mouse-following-bubbles{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    overflow-x: clip;
}

.mouse-following-bubble{
    display: none;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    background: white;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    animation: disapearing forwards 1.5s;
}

.bubble-clone{
    display: block;
    color: rgb(255, 255, 255);
}

@keyframes disapearing {
    100%{opacity: 0;transform: scale(0.2);}
}
