.stretching-cards{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stretching-cards-block{
    width: 95%;
    aspect-ratio: 1/0.3;
    background: rgb(29, 29, 29);
    display: flex;
    /* padding: 5px;
    gap: 5px; */
}

.stretching-card{
    position: relative;
    flex-grow: 1;
    background: white;
    transition: 300ms;
    filter: grayscale(0.7);
    padding: 20px;
}

.stretching-cards-block:has(.stretching-card:hover) .stretching-card:not(:hover){
    filter: grayscale(0.9) brightness(0.7);
}

.stretching-card:hover{
    flex-grow: 3.5;
    filter: grayscale(0);
}

.stretching-card:nth-child(1){background: url(/images/Flowers/Dahlia.jpg) center/cover;}
.stretching-card:nth-child(2){background: url(/images/Flowers/Daisy.jpg) center/cover;}
.stretching-card:nth-child(3){background: url(/images/Flowers/Lavander.jpg) center/cover;}
.stretching-card:nth-child(4){background: url(/images/Flowers/Orchid2.jpg) center/cover;}
.stretching-card:nth-child(5){background: url(/images/Flowers/Roses.jpg) center/cover;}
.stretching-card:nth-child(6){background: url(/images/Flowers/Tulip.jpg) center/cover;}